body{
    font-family: 'Lato', sans-serif;
}
.section-style1{
    display: flex;
    width: 80%;
    padding: 4%;
}
.section-style1 img{
    width: 90%;
    padding-left: 80px;
    
}
#side-border{
    border-left: 5px solid rgb(5, 250, 217);
    border-radius: 2px;
}

.heading{
    font-weight: 700;
    font-size: 50px;
    padding-left: 20px;
}
.heading2{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
.span-color{
    color: rgb(0, 183, 255);
}
.blue{
    color: rgb(16, 171, 233);
}
.button-link{
    color: white;
    text-decoration: none;
    background-color: rgb(13, 243, 224);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    
}
.section-style2{
   
    width: 50%;
    
}
.section-style2 img{
    width: 50%;
    
}
.column{
    display: flex;

}
#mission{
    background-color: rgb(241, 216, 183);
    
}
#vission{
    background-color: rgb(243, 209, 236);
   
}
#goals{
    background-color: rgb(167, 194, 209);
}
.box-style{
    border-radius: 10px;
    padding: 2%;
    margin:0 2%;
    width: 30%;
    height: 300px;
    
}
.box-style img{
    width: 40%;
}
.section-style3{
    display: flex;
    width: 80%;
    
}
.section-style3 img{
    width: 120%;
    margin-left: 100px;
    padding-top: 20px;
}
.sec3-bg{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.develop-area{
    margin-left: 250px;
}
.sec3-heading{
    font-weight: 700;
    font-size: 30px;
}
.section-area4{
    display: flex;
    width: 80%;
    padding: 8%;
    margin-top: 2%;
    
}
.paragaraph{
    margin-right: 60px;
}
.section-area4 img{
    width: 100%;
}
.sec4-heading{
    font-weight: 700;
    font-size: 30px;

}
.input-area{
    font-weight: 800;
    color: rgb(27, 97, 177);
    
}
.input-box{
  margin:5%;
  width: 50%;
  border: 3px solid rgb(58, 147, 206);
  padding: 10px;
  text-align: center;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1%;
}
#span{
    color: rgb(109, 12, 236);
}
    

